<footer>
  <section>
    <header>Mapa serwisu</header>
    <a href="#">Loty</a>
    <a href="#">Logowanie</a>
  </section>
  <section>
    <header>Dla klientów</header>
    <a href="">Opłata</a>
    <a href="">Pomoc</a>
  </section>
  <section>
    <header>Nasze loty</header>
    <a href="">Rozkład</a>
    <a href="">Mapa</a>
  </section>
  <section>
    <header>O nas</header>
    <a href="">Kontakt</a>
    <a href="">O firmie</a>
  </section>
  <p class="copyright">&copy;Copyright nameSurname 2021</p>
</footer>
