<nav priority class="big-menu menu">
  <ul priority>
    <li class="list" routerLinkActive="active"><a class="link" routerLink="/ticket">Bilety</a></li>
    <li class="list" routerLinkActive="active"><a class="link">Kontakt</a></li>
    <li class="list" routerLinkActive="active"><a class="link">Informacje</a></li>
    <li class="list" routerLinkActive="active">
      <a *ngIf="!isAuthenticated" class="link" routerLink="/login">Logowanie</a>
      <a *ngIf="isAuthenticated" class="link" routerLink="/orders">Zamówienia</a>
    </li>
    <li class="list" routerLinkActive="active"><a class="link">Wybór języka</a></li>
    <li class="list"><a class="link" (click)="OnClick()" [ngStyle]="{ cursor: 'pointer' }">Logout</a></li>
  </ul>
</nav>
