<nav priority class="big-menu menu">
  <ul priority>
    <li class="list" routerLinkActive="active"><a class="link" routerLink="ticket">Bilety</a></li>
    <li class="list" routerLinkActive="active"><a class="link">Kontakt</a></li>
    <li class="list" routerLinkActive="active"><a class="link">Informacje</a></li>
    <li class="list" routerLinkActive="active"><a class="link" routerLink="login">Logowanie</a></li>
    <li class="list" routerLinkActive="active"><a class="link">Wybór języka</a></li>
  </ul>
</nav>
