.big-menu {
  display: none;
  @media screen and (min-width: 576px) {
    display: block;
  }

  .link {
    padding: 10px 16px;
    margin: 0 0 0 0;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }

  * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list {
    display: block;
    margin: 2px;
    background-color: lightseagreen;
  }

  .list.active {
    background-color: rgb(26, 139, 134);
  }
}
