<form
  class="form"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
>
  <label for="login">
    Login
    <input
      formControlName="email"
      type="email"
      class="element"
      [ngClass]="{'invalid': form.get('email')?.invalid && form.get('email')?.touched}"
    >
    <span
      helper-text
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      <span *ngIf="form.get('email')?.errors?.required">
        To pole nie może być puste
      </span>
      <span *ngIf="form.get('email')?.errors?.email">
        Podaj poprawny adres e-mail
      </span>
    </span>
  </label>
  <label for="password">
    Hasło
    <input
      formControlName="password"
      type="password"
      class="element"
      [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}"
    >
  </label>
  <span
    helper-text
    *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
  >
    <span *ngIf="form.get('password')?.errors?.required">
      To pole nie może być puste
    </span>
    <span *ngIf="form.get('password')?.errors?.minlength">
      Hasło musi mieć więcej niż {{form.get('password')?.errors?.minlength?.requiredLength}} znaków.
      Teraz {{form.get('password')?.errors?.minlength?.actualLength}}
    </span>
  </span>
  <button
    type="submit"
    ngClass="{{form.invalid ? 'btn--inactive' : 'btn--active'}}"
    [disabled]="form.invalid"
  >
    Zarejestruj się
  </button>
  <p class="text-link">
    Posiadasz już konto? <a routerLink="/login">Zaloguj się</a>
  </p>
</form>
