<form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label class="element" for="departure">
    Wylot <span *ngIf="cnt <= 16">({{temp}}&#8451;)</span>
    <select (change)="onChanges()" [(ngModel)]="form.srcCountry" name="departure" id="departure">
      <option value="lodz">Łódź</option>
      <option value="warsaw">Warszawa</option>
    </select>
  </label>
  <label class="element" for="arrives">
    Przylot
    <select ngModel="kiev" name="arrives" id="arrives">
      <option value="kiev">Kijów</option>
      <option value="krakow">Kraków</option>
      <option value="odessa">Odessa</option>
    </select>
  </label>
  <label class="element" for="inputDate">
    Data odlotu
    <input (change)="onChanges()" name="inputDate" [min]="dateNow" [(ngModel)]="form.selectedData" id="inputDate" type="date">
  </label>
  <button class="btn">Dalej</button>
</form>
