<form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label [ngSwitch]="departure" class="element" for="arrives">
    <div *ngSwitchCase="'lodz'" id="arrives">
      Wylot: Lódź
    </div>
    <div *ngSwitchCase="'warsaw'" id="arrives">
      Wylot: Warszawa
    </div>
    <div *ngSwitchDefault id="departure">
      Wylot: <span color-error>Błąd</span>
    </div>
  </label>
  <label [ngSwitch]="arrives" class="element" for="arrives">
    <div *ngSwitchCase="'kiev'" id="arrives">
      Przylot: Kijów
    </div>
    <div *ngSwitchCase="'krakow'" id="arrives">
      Przylot: Kraków
    </div>
    <div *ngSwitchCase="'odessa'" id="arrives">
      Przylot: Odessa
    </div>
    <div *ngSwitchDefault id="departure">
      Przylot: <span color-error>Błąd</span>
    </div>
  </label>
  <label class="element" for="inputDate">
    Data odlotu: {{date}}
  </label>
  <fieldset *ngFor="let ticket of tickets" class="element">
    <header>Miejsce {{ticket}}</header>
    <label for="bagaz-{{ticket}}">Typ bagażu</label>
    <select class="select-box" ngModel="1" name="bagaz-{{ticket}}" id="bagaz-{{ticket}}">
      <option value="1">Tylko torebka ręczna (< 10kg)</option>
      <option value="2">Średnia walizka (< 20kg)</option>
      <option value="3">Duża walizka (< 32kg)</option>
    </select>
  </fieldset>
  <label class="element" *ngIf="tickets.length">Liczba biletów: {{ tickets.length }}</label>
  <label *ngIf="tickets.length" for="currencies" class="element">
    Suma: {{ fullPrice }}
    <select (change)="onChangeCurr()" [(ngModel)]="currentNumberCurrency" name="currencies" id="currencies">
      <option *ngFor="let el of currencies, let i = index" value="{{i}}">{{el.code}}</option>
    </select>
  </label>
  <button class="{{tickets.length ? 'btn' : 'btn--inactive'}}">
    {{tickets.length ? 'Kupić' : 'Wybierz miejsce'}}
  </button>
</form>
