
<div [ngSwitch]="departure" class="text">
  <div *ngSwitchCase="'lodz'" id="arrives">
    Wylot: Lódź
  </div>
  <div *ngSwitchCase="'warsaw'" id="arrives">
    Wylot: Warszawa
  </div>
  <div *ngSwitchDefault id="departure">
    Wylot: <span color-error>Błąd</span>
  </div>
</div>
<div [ngSwitch]="arrives" class="text">
  <div *ngSwitchCase="'kiev'" id="arrives">
    Przylot: Kijów
  </div>
  <div *ngSwitchCase="'krakow'" id="arrives">
    Przylot: Kraków
  </div>
  <div *ngSwitchCase="'odessa'" id="arrives">
    Przylot: Odessa
  </div>
  <div *ngSwitchDefault id="departure">
    Przylot: <span color-error>Błąd</span>
  </div>
</div>
<div class="text">
  Data odlotu: {{date}}
</div>
<div class="text">
  Wybierz miejsce:
</div>

<div #airPlane class="air-plane">
  <div class="head"></div>
  <div #seats class="seats">
    <div id="seat-{{el.seat}}" *ngFor="let el of plane" class="seat {{el.available ? 'available' : 'not-available'}}" (click)="pick($event)">{{el.seat}}</div>
  </div>
</div>

<form class="form {{tickets.length ? 'form--over' : ''}}" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label *ngIf="tickets.length" class="element" for="tickets">
    <div id="tickets">Bitety: {{tickets}}</div>
  </label>
  <label class="element" *ngIf="tickets.length">Liczba biletów: {{ tickets.length }}</label>
  <button class="btn--over {{tickets.length ? 'btn' : 'btn--inactive'}}">
    {{tickets.length ? 'Dalej' : 'Wybierz miejsce'}}
  </button>
</form>
